        <!-- Favicon Generator Icons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ '/icons/apple-touch-icon.png' | relative_url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/icons/favicon-32x32.png' | relative_url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/icons/favicon-16x16.png' | relative_url }}">
        <link rel="manifest" href="{{ '/icons/site.webmanifest' | relative_url }}">
        <link rel="shortcut icon" href="{{ '/icons/favicon.ico' | relative_url }}">
        <meta name="msapplication-TileColor" content="#212121">
        <meta name="msapplication-config" content="{{ '/icons/browserconfig.xml' | relative_url }}">
        <meta name="theme-color" content="#212121">