        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p class="copyright" style="text-align:left">Slate theme maintained by
                    <a href="https://github.com/pages-themes">pages-themes</a>
                    <span style="float:right">This site is open source.
                        <a href="{{site.repository.url}}/edit/{{site.repository.branch}}/{{page.path}}">
                        Improve this page</a>
                    </span>
                </p>
            </footer>
        </div>