<nav>
    <a href="{{ '/' | relative_url }}"> Home </a> |
    <a href="{{ '/news/' | relative_url }}"> News </a> |
    <a href="{{ '/applications/' | relative_url }}"> Applications </a> |
    <a href="{{ '/faq/' | relative_url }}"> FAQ </a> |
    <a href="{{ 'https://github.com/jackaudio/jackaudio.github.com/wiki' | relative_url }}"> WIKI </a> |
    <a href="{{ '/api/' }}"> API </a> |
    <a href="{{ '/downloads/' | relative_url }}"> Downloads </a> |
    <a href="{{ '/community.html' | relative_url }}"> Community Network </a>
</nav>
